<div class="container">
  <h1><%= I18n.t('templates.about.home.experiences.header') %></h1>
  <div class='xp-list'>
    <ul>

      <!-- TODO: get these from helper -->

      <li>
        <div class='xp-item'>
          <div class='xp-title'>
            <h4><%= I18n.t('templates.about.home.experiences.ifactory.title') %></h4>
            <p><%= I18n.t('templates.about.home.experiences.ifactory.period') %></p>
          </div>
          <div class='xp-description'>
            <p>
              <b><%= I18n.t('templates.about.home.experiences.ifactory.name') %></b>
            </p>
            <p><%= I18n.t('templates.about.home.experiences.ifactory.description') %></p>
            <p>
              <a href='#'>
                <%= I18n.t('templates.about.home.experiences.link') %>
              </a>
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class='xp-item'>
          <div class='xp-title'>
            <h4><%= I18n.t('templates.about.home.experiences.index.title') %></h4>
            <p><%= I18n.t('templates.about.home.experiences.index.period') %></p>
          </div>
          <div class='xp-description'>
            <p class='company-name'>
              <b><%= I18n.t('templates.about.home.experiences.index.name') %></b>
            </p>
            <p class='company-description'>
              <%= I18n.t('templates.about.home.experiences.index.description') %>
            </p>
            <p class='company-link'>
              <a href='http://www.indexdigital.com.br/'>
                <%= I18n.t('templates.about.home.experiences.link') %>
              </a>
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class='xp-item'>
          <div class='xp-title'>
            <h4><%= I18n.t('templates.about.home.experiences.bepid.title') %></h4>
            <p><%= I18n.t('templates.about.home.experiences.bepid.period') %></p>
          </div>
          <div class='xp-description'>
            <p class='company-name'>
              <b><%= I18n.t('templates.about.home.experiences.bepid.name') %></b>
            </p>
            <p class='company-description'>
              <%= I18n.t('templates.about.home.experiences.bepid.description') %>
            </p>
            <p class='company-link'>
              <a href='http://bepid.ifce.edu.br/'>
                <%= I18n.t('templates.about.home.experiences.link') %>
              </a>
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class='xp-item'>
          <div class='xp-title'>
            <h4><%= I18n.t('templates.about.home.experiences.lsbd.title') %></h4>
            <p><%= I18n.t('templates.about.home.experiences.lsbd.period') %></p>
          </div>
          <div class='xp-description'>
            <p class='company-name'>
              <b><%= I18n.t('templates.about.home.experiences.lsbd.name') %></b>
            </p>
            <p class='company-description'>
              <%= I18n.t('templates.about.home.experiences.lsbd.description') %>
            </p>
            <p class='company-link'>
              <a href='http://bepid.ifce.edu.br/'>
                <%= I18n.t('templates.about.home.experiences.link') %>
              </a>
            </p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>
